@page "/"

<PageTitle>News</PageTitle>

<h1>📰News</h1>

<main>
    <div>
        <ul>
            <li>
                <a href="/Trend">
                    📈Trend
                </a>
            </li>
        </ul>
    </div>
</main>