@page "/Trend"

<PageTitle>Trend</PageTitle>

<style>
    .WebPage {
        width: 80vw;
        height: 70vh;
    }
</style>

<h1>📈Trend</h1>

<iframe class="WebPage" src="https://abcnews.go.com/">

</iframe>