@page "/VideoNews"

<PageTitle>Video News</PageTitle>

<style>
    .WebPage {
        width: 80vw;
        height: 70vh;
    }
</style>

<h1>🎞️Video News</h1>

<iframe class="WebPage" src="https://abcnews.go.com/Video">

</iframe>
@code {

}
